<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reborn Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>★ Install Package Files (@pkgFiles)</string>
			<key>action</key>
			<string>handleRebornDeveloper</string>
			<key>icon</key>
			<string>Credits/pkgFiles.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Testers</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>[π/∞] (@[π/∞])</string>
			<key>action</key>
			<string>handleTester</string>
			<key>icon</key>
			<string>Credits/cypwn.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Assets / Original Idea</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SamNChiet (@samperson)</string>
			<key>action</key>
			<string>handleWindowsDeveloper</string>
			<key>icon</key>
			<string>Credits/samperson.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This tweak is based on the original from @pixelomer. Without his permission, MobileMeadow Reborn would not be possible.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Credits</string>
</dict>
</plist>
